MODULE_REST_API/.phpunit.cache
MODULE_REST_API/node_modules
MODULE_REST_API/public/build
MODULE_REST_API/public/hot
MODULE_REST_API/public/storage
MODULE_REST_API/storage/*.key
MODULE_REST_API/vendor
MODULE_REST_API/.env
MODULE_REST_API/.env.backup
MODULE_REST_API/.env.production
MODULE_REST_API/.phpunit.result.cache
MODULE_REST_API/Homestead.json
MODULE_REST_API/Homestead.yaml
MODULE_REST_API/auth.json
MODULE_REST_API/npm-debug.log
MODULE_REST_API/yarn-error.log
MODULE_REST_API/.fleet
MODULE_REST_API/.idea
MODULE_REST_API/.vscode
